@import 'main';

.ik-scroll-top {
	bottom: 25px;
	position: fixed;
	right: 25px;
	z-index: cd-zIndex(float);

	a {
		background-color: var(--c5);
		border-radius: 5px;
		box-shadow: 1px 1px 15px var(--o2);
		color: var(--c2);
		cursor: pointer;
		display: block;
		height: 36px;
		opacity: .9;
		padding: 3px;
		width: 36px;

		&:hover {
			opacity: 1;
		}
	}
}
