@import 'scss-methods';

.ik-scroll-top {
	bottom: 20px;
	position: fixed;
	right: 20px;
	z-index: cd-zIndex(float);

	a {
		color: var(--tc1);
		cursor: pointer;

		.ik-icon {
			display: block;
			font-size: cd-fontSize(s22);
			height: 22px;
			line-height: cd-lineHeight(1.1);
		}
	}
}
