@import 'main';

header {
	.ik-top {
		background-color: var(--bg2);
		border-bottom: 1px solid var(--tc3);
		padding: 10px 0;
		position: relative;

		.cd-col {
			margin: 0;

			&:first-child {
				.ik-block {
					display: inline-block;
					position: relative;

					a {
						img {
							width: 66px;
						}
					}

					ul {
						background-color: var(--bg3);
						border-radius: 5px;
						display: flex;
						left: 100%;
						list-style: none;
						margin-left: 10px;
						padding: 1px 10px;
						position: absolute;
						top: -5px;

						li {
							&:not(:only-child):not(:last-child) {
								margin-right: 10px;
							}

							.ik-icon {
								color: var(--tc1);
								cursor: pointer;
							}
						}
					}
				}
			}

			&:last-child {
				.ik-list-items {
					margin: 4px 0 0;

					li {
						display: inline-block;

						a {
							padding: 0 10px;

							&.ik-active {
								color: var(--c8);
							}
						}

						&:first-child {
							a {
								padding-left: 0;
							}
						}

						&:last-child {
							a {
								padding-right: 0;
							}
						}
					}
				}
			}
		}
	}

	// media
	@include cd-media(desktop, mini) {
		.ik-top {
			.cd-col {
				text-align: center;
			}
		}
	}
}
