:root {
	--c1: #000000;
	--c2: #ffffff;
	--c3: #e4e4e4;
	--c5: #efefef;
	--c7: #6a6c6d;
	--c8: #2196f3;
	--c9: #e74c3c;
	--c10: #71c578;
	--c11: #e67e22;
	--c12: #00458e;
	--c13: #c0ca33;
	--c14: #cc6699;
	--c15: #dccc46;
	--o1: rgba(0, 0, 0, .03);
	--o2: rgba(0, 0, 0, .3);
	--o3: rgba(0, 0, 0, .2);
	--o4: rgba(0, 0, 0, .4);
	--o5: rgba(0, 0, 0, .65);
}

$color1: #ffffff;
$color2: #f8f8f8;
$color3: #292929;
$color4: #000000;
$color5: #6a6c6d;
$color6: #dddddd;

[data-theme='light'] {
	--bg1: #{$color1};
	--bg2: #{$color1};
	--bg3: #{$color2};
	--bg4: #{$color2};
	--tc1: #{$color3};
	--tc2: #{$color3};
	--tc3: #{$color6};
	--tc4: #{$color1};
}

[data-theme='dark'] {
	--bg1: #{$color3};
	--bg2: #{$color4};
	--bg3: #{$color3};
	--bg4: #{$color4};
	--tc1: #{$color1};
	--tc2: #{$color5};
	--tc3: #{$color3};
	--tc4: #{$color4};
}
