// Color
$cd-color: (
	1000: #000000,
	1001: #ffffff,
	1002: #282a37,
	1003: #2f3243,
	1004: #9295a2,
	1005: #d2a41a,
	1006: #3b7fc4,
	1007: #84ba3f,
	1008: #3e9d2e,
	1009: #e74c3c,
	1010: #dc3545,
	1011: #d27a2e
);

// Background Color
$cd-background: (
	2000: #000000,
	2001: #ffffff,
	2002: #282a37,
	2003: #2f3243,
	2004: #9295a2,
	2005: #d2a41a,
	2006: #3b7fc4,
	2007: #84ba3f,
	2008: #3e9d2e,
	2009: #e74c3c,
	2010: #dc3545,
	2011: #d27a2e
);

// Border
$cd-border: (
	3000: #000000,
	3001: #ffffff,
	3002: #282a37,
	3003: #2f3243,
	3004: #9295a2,
	3005: #d2a41a,
	3006: #3b7fc4,
	3007: #84ba3f,
	3008: #3e9d2e,
	3009: #e74c3c,
	3010: #dc3545,
	3011: #d27a2e
);

// Box Shadow
$cd-shadow: (
	4000: #000000,
	4001: #ffffff,
	4002: #282a37,
	4003: #2f3243,
	4004: #9295a2,
	4005: #d2a41a,
	4006: #3b7fc4,
	4007: #84ba3f,
	4008: #3e9d2e,
	4009: #e74c3c,
	4010: #dc3545,
	4011: #d27a2e
);
