:root {
	--c1: #000000;
	--c2: #ffffff;
	--c3: #e4e4e4;
	--c5: #efefef;
	--c7: #6a6c6d;
	--c8: #2196f3;
	--c9: #e74c3c;
	--c10: #71c578;
	--c11: #e67e22;
	--c12: #00458e;
	--c13: #c0ca33;
	--c14: #cc6699;
	--c15: #dccc46;
	--o1: rgba(0, 0, 0, .03);
	--o2: rgba(0, 0, 0, .3);
	--o3: rgba(0, 0, 0, .2);
	--o4: rgba(0, 0, 0, .4);
	--o5: rgba(0, 0, 0, .65);
}

[data-theme="light"] {
	--bg1: #ffffff;
	--bg2: #ffffff;
	--bg3: #f8f8f8;
	--bg4: #f8f8f8;

	--tc1: #333333;
	--tc2: #333333;
	--tc3: #dddddd;
	--tc4: #ffffff;
}

[data-theme="dark"] {
	--bg1: #292929;
	--bg2: #000000;
	--bg3: #292929;
	--bg4: #000000;

	--tc1: #ffffff;
	--tc2: #6a6c6d;
	--tc3: #333333;
	--tc4: #000000;
}
