html {
	// app large font-size
	&.ik-font-large {
		font-size: cd-fontSize(s18);
	}

	body {
		background-color: var(--bg2);

		a {
			&:visited {
				color: var(--c6);
			}
		}

		hr {
			border-top-color: var(--tc3);
		}
	}
}
