html {
	// when activated: increase font-size for the whole app
	&.ik-font-large {
		font-size: cd-fontSize(s18);
	}

	body {
		background-color: var(--bg2);

		a {
			&:visited {
				color: var(--c6);
			}
		}
	}
}
