// margins
.ik-margin-top-10 { margin-top: 10px; }
.ik-margin-top-20 { margin-top: 20px; }
.ik-margin-top-30 { margin-top: 30px; }
.ik-margin-bottom-10 { margin-bottom: 10px; }
.ik-margin-bottom-20 { margin-bottom: 20px; }
.ik-margin-bottom-30 { margin-bottom: 30px; }
.ik-margin-left-10 { margin-left: 10px; }
.ik-margin-left-20 { margin-left: 20px; }
.ik-margin-left-30 { margin-left: 30px; }
.ik-margin-left-40 { margin-left: 40px; }
.ik-margin-left-50 { margin-left: 50px; }
.ik-margin-left-60 { margin-left: 60px; }

// code-block colors
.ik-red { color: var(--c7); }
.ik-green { color: var(--c8); }
.ik-orange { color: var(--c9); }
.ik-pink { color: var(--c11); }

// bg loader
.ik-bg-loader {
	background-image: url('/assets/svg/loader.svg');
	background-position: center;
	background-repeat: no-repeat;

	.ik-loader-grey {
		background-color: var(--tc4);
	}

	.ik-loader-white {
		background-color: var(--tc3);
	}
}

// card
.ik-card {
	background-color: var(--tc1);
	border-bottom: 1px solid var(--tc7);

	&.ik-card-padding {
		padding: 15px;
	}
}
