// fonts
.ik-font-sacramento {
	font-family: cd-fontFamily(sacramento, $cd-fonts-list);
}

.ik-font-poiret {
	font-family: cd-fontFamily(poiret, $cd-fonts-list);
}

// margins
.ik-margin-top-10 { margin-top: 10px; }
.ik-margin-top-20 { margin-top: 20px; }
.ik-margin-bottom-10 { margin-bottom: 10px; }
.ik-margin-bottom-20 { margin-bottom: 20px; }
.ik-margin-left-10 { margin-left: 10px; }
.ik-margin-left-20 { margin-left: 20px; }

// colors
.ik-green { color: var(--c8); }
.ik-orange { color: var(--c9); }
.ik-pink { color: var(--c11); }

// bg loader
.ik-bg-loader {
	background-color: var(--bg4);
	background-image: url('/assets/svg/pre-loaders/01.svg');
	background-position: center;
	background-repeat: no-repeat;
}
