// text ellipses
.ik-ellipses {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

// block 01
.ik-block-one {
	background-color: cd-palette($cd-background, 2003);
	padding: 15px;
}

// margins
.ik-margin-top-10 { margin-top: 10px; }
.ik-margin-top-20 { margin-top: 20px; }
.ik-margin-bottom-10 { margin-bottom: 10px; }
.ik-margin-bottom-20 { margin-bottom: 20px; }

// clear fix
.ik-clear-fix {
	display: block;
	width: 100%;
}
