// fonts
.ik-font-sacramento {
	font-family: cd-fontFamily(sacramento, $cd-fonts-list);
}

.ik-font-poiret {
	font-family: cd-fontFamily(poiret, $cd-fonts-list);
}

// text ellipses
.ik-ellipses {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

// block 01
.ik-block-one {
	background-color: var(--c5);
	padding: 15px;
}

// margins
.ik-margin-top-10 { margin-top: 10px; }
.ik-margin-top-20 { margin-top: 20px; }
.ik-margin-bottom-10 { margin-bottom: 10px; }
.ik-margin-bottom-20 { margin-bottom: 20px; }

// clear fix
.ik-clear-fix {
	display: block;
	width: 100%;
}

// bg loader
.ik-bg-loader {
	background-color: var(--bg4);
	background-image: url('/assets/svg/pre-loaders/01.svg');
	background-position: center;
	background-repeat: no-repeat;
}
