<section class="ik-slider"
		 (swipeleft)="onSwipe(0)"
		 (swiperight)="onSwipe(1)">
	<!-- Info Card -->
	<ng-container *ngIf="viewType === 0">
		<app-card [data]="activeSlide"
				  [autoHeight]="true"
				  [assetsPath]="data['assetsPath']"
				  [cardClass]="false">
		</app-card>
	</ng-container>

	<!-- Dots Navigation -->
	<div class="ik-dots">
		<ng-container *ngFor="let item of [].constructor(totalSlides); let idx=index;">
			<span class="ik-dot"
				  [class.ik-active]="activeSlideIndex === idx"
				  (click)="activeSlideIndex !== idx && onClickChangeSlide(idx, item)">
			</span>
		</ng-container>
	</div>
</section>
