@import 'scss-methods';

.ik-slider {
	.ik-content {
		position: relative;

		&::after {
			background-color: transparent;
			bottom: 0;
			content: '';
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
		}
	}

	.ik-dots {
		padding: 5px 0;
		text-align: center;

		.ik-dot {
			background-color: var(--c3);
			border-radius: 50%;
			cursor: pointer;
			display: inline-block;
			height: 10px;
			margin: 0 2px;
			transition: background-color .6s ease;
			width: 10px;

			&.ik-active {
				background-color: var(--c4);
				cursor: default;
			}
		}
	}
}
