@import 'scss-methods';

.ik-font-switch {
	align-items: center;
	background-color: var(--tc3);
	border-radius: 15px;
	display: flex;
	height: 30px;
	width: 80px;

	.ik-wrapper {
		cursor: pointer;
		text-align: center;

		&.ik-left {
			width: 50%;

			.ik-icon {
				color: var(--tc6);
				font-size: cd-fontSize(s12);
			}
		}

		&.ik-right {
			border-left: 1px solid var(--tc2);
			width: calc(50% + 14px);

			.ik-icon {
				color: var(--tc6);

				&:first-child {
					font-size: cd-fontSize(s12);
				}
			}
		}

		&.ik-active {
			cursor: default;

			.ik-icon {
				color: var(--c8);
			}
		}
	}
}
