@import 'scss-methods';

.ik-slider {
	touch-action: pan-y;
	-webkit-overflow-scrolling: touch;

	.ik-content {
		position: relative;

		&::after {
			background-color: transparent;
			bottom: 0;
			content: '';
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
		}

		.ik-options {
			align-items: center;
			display: flex;
			justify-content: space-between;
			left: 10px;
			position: absolute;
			right: 10px;
			top: 10px;
			z-index: cd-zIndex(float);

			.ik-slider-counter {
				display: inline;
			}

			.ik-controls {
				display: inline;
				padding: 1px;

				.ik-list {
					display: flex;

					li {
						cursor: pointer;
						text-align: center;
						width: 35px;

						&:hover {
							background-color: var(--c8);
						}

						.ik-icon {
							font-size: cd-fontSize(s18);
						}
					}
				}
			}
		}
	}

	.ik-dots {
		padding: 5px 0;
		text-align: center;

		.ik-dot {
			background-color: var(--c3);
			border: none;
			border-radius: 50%;
			cursor: pointer;
			display: inline-block;
			height: 12px;
			margin: 0 3px;
			outline: 0;
			padding: 0;
			transition: background-color .6s ease;
			width: 12px;

			&.ik-active {
				background-color: var(--c4);
				cursor: default;
			}
		}
	}
}
