$color1: #ffffff;
$color2: #f8f8f8;
$color3: #292929;
$color4: #000000;
$color5: #6a6c6d;
$color6: #dddddd;

:root {
	--c1: #{$color4};
	--c2: #{$color1};
	--c3: #{$color6};
	--c4: #{$color5};
	--c5: #dccc46;
	--c6: #2196f3;
	--c7: #e74c3c;
	--c8: #6fb98f;
	--c9: #e67e22;
	--c10: #00458e;
	--c11: #cc6699;
	--o1: rgba(0, 0, 0, .3);
	--o2: rgba(0, 0, 0, .4);
	--o3: rgba(0, 0, 0, .6);
}

[data-theme='light'] {
	--bg1: #{$color1};
	--bg2: #{$color1};
	--bg3: #{$color2};
	--bg4: #{$color2};
	--tc1: #{$color3};
	--tc2: #{$color3};
	--tc3: #{$color6};
	--tc4: #{$color1};
}

[data-theme='dark'] {
	--bg1: #{$color3};
	--bg2: #{$color4};
	--bg3: #{$color3};
	--bg4: #{$color4};
	--tc1: #{$color1};
	--tc2: #{$color5};
	--tc3: #{$color3};
	--tc4: #{$color4};
}
