@import 'scss-methods';

.ik-photography {
	background-color: var(--tc4);

	.ik-gallery {
		margin-top: 30px;

		.cd-row {
			.cd-col {
				margin-bottom: 30px;

				.ik-excerpt {
					color: var(--tc6);
					font-weight: cd-fontWeight(300);
					text-align: center;

					.ik-icon {
						color: var(--c7);
						font-size: cd-fontSize(s24);
						margin-left: 5px;
					}
				}

				.ik-photo {
					cursor: pointer;
					position: relative;

					img {
						background-color: var(--c2);
					}

					h6 {
						align-items: center;
						bottom: 0;
						color: var(--c2);
						display: none;
						font-weight: cd-fontWeight(600);
						justify-content: center;
						left: 0;
						position: absolute;
						right: 0;
						top: 0;
					}

					.ik-icon {
						color: var(--c1);
						left: 10px;
						position: absolute;
						top: 8px;
					}

					&:hover {
						h6 {
							display: flex;
						}

						.ik-icon {
							color: var(--c2);
						}

						&::before {
							background-color: var(--o2);
							bottom: 0;
							content: '';
							left: 0;
							position: absolute;
							right: 0;
							top: 0;
						}
					}
				}
			}
		}
	}

	// media
	@include cd-media(desktop, smartphone) {
		.ik-gallery {
			.cd-row {
				.cd-col {
					&:nth-child(2n + 1) {
						padding-right: 10px;
					}

					&:nth-child(2n) {
						padding-left: 10px;
					}
				}
			}
		}
	}

	@include cd-media(desktop, mini) {
		.ik-gallery {
			.cd-row {
				.cd-col {
					&:nth-child(2n + 1) {
						padding-right: 15px;
					}

					&:nth-child(2n) {
						padding-left: 15px;
					}
				}
			}
		}
	}
}
