@import 'main';

.ik-photography {
	.ik-header {
		.ik-photo {
			height: 500px;
			position: relative;

			img {
				height: 500px;
				object-fit: cover;
				width: 100%;
			}

			.ik-text {
				background-color: cd-palette($cd-background, 2000, .65);
				border-radius: 2px;
				color: cd-palette($cd-color, 1001);
				font-weight: cd-fontWeight(600);
				position: absolute;
			}

			h5 {
				padding: 1px 10px;
				right: 10px;
				top: 10px;
			}

			h6 {
				bottom: 10px;
				left: 10px;
				padding: 1px 6px;
			}
		}
	}

	.ik-content {
		margin-top: 30px;

		.cd-container {
			padding: 0;

			.cd-row {
				.cd-col {
					margin-bottom: 30px;

					.ik-excerpt {
						text-align: center;

						.ik-icon {
							color: cd-palette($cd-color, 1008);
							font-size: cd-fontSize(s24);
							margin-left: 5px;
						}
					}

					.ik-photo {
						cursor: pointer;
						position: relative;

						img {
							background-color: cd-palette($cd-background, 2001);
							display: block;
							max-height: 250px;
							object-fit: cover;
							width: 100%;
						}

						h6 {
							align-items: center;
							bottom: 0;
							color: cd-palette($cd-color, 1001);
							display: none;
							font-weight: cd-fontWeight(600);
							justify-content: center;
							left: 0;
							position: absolute;
							right: 0;
							top: 0;
						}

						.ik-icon {
							color: cd-palette($cd-color, 1000);
							left: 10px;
							position: absolute;
							top: 8px;
						}

						&:hover {
							h6 {
								display: flex;
							}

							.ik-icon {
								color: cd-palette($cd-color, 1001);
							}

							&::before {
								background-color: cd-palette($cd-background, 2000, .4);
								bottom: 0;
								content: '';
								left: 0;
								position: absolute;
								right: 0;
								top: 0;
							}
						}
					}
				}
			}
		}
	}

	// media
	@include cd-media(desktop, smartphone) {
		.ik-header {
			.ik-photo {
				height: 350px;

				img {
					height: 350px;
				}
			}
		}

		.ik-content {
			margin-top: 20px;

			.cd-container {
				.cd-row {
					.cd-col {
						margin-bottom: 20px;

						&:nth-child(2n + 1) {
							padding-right: 10px;
						}

						&:nth-child(2n) {
							padding-left: 10px;
						}
					}
				}
			}
		}
	}

	@include cd-media(desktop, mini) {
		.ik-header {
			.ik-photo {
				height: 250px;

				img {
					height: 250px;
				}
			}
		}

		.ik-content {
			margin-top: 15px;

			.cd-container {
				.cd-row {
					.cd-col {
						margin-bottom: 15px;

						&:nth-child(2n + 1) {
							padding-right: 15px;
						}

						&:nth-child(2n) {
							padding-left: 15px;
						}
					}
				}
			}
		}
	}
}
