@import 'main';

.ik-badge-widget {
	background-color: cd-palette($cd-background, 2005);
	color: cd-palette($cd-color, 1002);
	position: relative;

	&.ik-type-1 {
		border-radius: 3px;
		font-size: cd-fontSize(s11);
		font-weight: cd-fontWeight(500);
		padding: 3px 5px;
	}

	&.ik-type-2 {
		border-radius: 2px 2px 8px 9px;
		font-size: cd-fontSize(s10);
		height: 17px;
		line-height: cd-lineHeight(1.6);
		position: absolute;
		right: 5px;
		top: 3px;
		width: 17px;
	}
}
