@import 'main';

.ik-social {
	.cd-container {
		.cd-row {
			.cd-col {
				background-color: var(--bg1);
				bottom: 60px;
				box-shadow: 0 4px 8px 0 var(--o1);
				left: 0;
				padding: 5px;
				position: fixed;

				a {
					display: block;
					text-align: center;

					img {
						width: 20px;
					}

					.ik-icon {
						color: var(--tc1);
						display: block;
						font-size: cd-fontSize(s20);
						line-height: cd-lineHeight(1.1);
					}

					&:not(:last-child) {
						margin-bottom: 10px;
					}
				}

				// media
				@include cd-media(desktop, tablet) {
					padding: 5px 3px;
				}
			}
		}
	}
}
