@import 'main';

.ik-social {
	.cd-container {
		.cd-row {
			.cd-col {
				background-color: var(--c2);
				bottom: 60px;
				box-shadow: 0 4px 8px 0 var(--o3);
				left: 0;
				padding: 5px;
				position: fixed;

				a {
					display: block;

					img {
						width: 20px;
					}

					&:not(:last-child) {
						margin-bottom: 10px;
					}
				}

				// media
				@include cd-media(desktop, tablet) {
					padding: 5px 3px;
				}
			}
		}
	}
}
