@import 'main';

.ik-read-more {
	p {
		color: var(--c2);

		.ik-link {
			color: var(--c2);
			cursor: pointer;
			font-weight: cd-fontWeight(700);
			margin-left: 10px;
			text-decoration: underline;
		}
	}
}
