@import 'scss-methods';

.ik-list-card {
	.ik-title {
		color: var(--tc2);
		font-size: cd-fontSize(s16);
		font-weight: cd-fontWeight(700);
		margin-bottom: 15px;
		text-transform: uppercase;
	}

	ul {
		list-style: none;

		li {
			align-items: center;
			display: flex;
			justify-content: space-between;

			&:not(:last-child) {
				margin-bottom: 10px;
			}

			a {
				cursor: pointer;

				&.ik-filter {
					border-radius: 2px;
					color: var(--c1);
					font-size: cd-fontSize(s14);
					outline: 0;
					padding: 0 5px;

					&.ik-scss {
						background-color: var(--c11);
					}

					&.ik-js {
						background-color: var(--c5);
					}

					&.ik-php {
						background-color: var(--c10);
					}
				}

				.ik-icon {
					display: inline-block;
					width: 16px;
				}
			}

			h6 {
				color: var(--tc2);
				font-size: cd-fontSize(s15);
				font-weight: cd-fontWeight(400);
				padding-right: 10px;

				.ik-icon {
					display: inline-block;
					width: 16px;
				}
			}
		}
	}
}
