<section class="ik-list-card">
	<!-- Title -->
	<h6 class="ik-title">{{ listData['title'] | translate }}</h6>

	<!-- List -->
	<ul>
		<li *ngFor="let item of listData['items']">
			<!-- Title -->
			<h6 *ngIf="!item['actions']['link']">
				<fa-icon class="ik-icon" [icon]="faIcon[0]"></fa-icon>
				{{ item['title'] }}
			</h6>

			<!-- Link: Website -->
			<a *ngIf="item['actions']['link']"
			   (click)="onClickOpenLink(item['actions']['link'])">
				<fa-icon class="ik-icon" [icon]="faIcon[1]"></fa-icon>
				{{ item['title'] }}
			</a>

			<!-- Link: Filter -->
			<a [routerLink]="[filterRoute, item['controls']['filter']]"
			   class="ik-filter"
			   [class.ik-scss]="item['controls']['filter'] === 'scss'"
			   [class.ik-js]="item['controls']['filter'] === 'angular' || item['controls']['filter'] === 'react'"
			   [class.ik-php]="item['controls']['filter'] === 'php'">
				{{ item['controls']['filter'] }}
			</a>
		</li>
	</ul>
</section>
