@import 'main';

.ik-projects {
	.ik-content {
		background-color: var(--bg4);
		padding-top: 30px;

		.cd-container {
			.cd-row {
				&.ik-search-filter {
					margin: 0 15px;

					.cd-col {
						background-color: var(--bg1);
						border-bottom: 1px solid var(--tc4);
						padding: 10px;

						&:first-child {
							.ik-search {
								max-width: 200px;
							}
						}

						&:last-child {
							text-align: right;

							ul {
								list-style: none;
								margin-top: 8px;

								li {
									display: inline-block;
									margin-right: 15px;
									padding: 2px 6px;

									&:last-child {
										margin-right: 0;
									}

									h6 {
										color: var(--c7);
										cursor: pointer;
									}

									&.ik-active {
										h6 {
											color: var(--c10);
										}
									}
								}
							}
						}
					}
				}

				.cd-col {
					margin-bottom: 30px;

					&.ik-excerpt {
						text-align: center;

						h1 {
							color: var(--c7);
						}

						h2 {
							color: var(--c7);
						}
					}

					.ik-banner {
						position: relative;

						&.ik-color {
							background-color: var(--c9);
							height: 200px;

							&.ik-scss {
								background-color: var(--c14);
							}

							&.ik-js {
								background-color: var(--c15);
							}

							&.ik-php {
								background-color: var(--c12);
							}
						}

						img {
							background-color: var(--c2);
							display: block;
							max-height: 200px;
							object-fit: cover;
							width: 100%;
						}

						.ik-title {
							align-items: center;
							bottom: 0;
							color: var(--c2);
							display: flex;
							font-weight: cd-fontWeight(600);
							justify-content: center;
							left: 0;
							position: absolute;
							right: 0;
							top: 0;
						}

						.ik-badge {
							background-color: var(--c2);
							color: var(--c1);
							left: 0;
							padding: 0 5px;
							position: absolute;
							top: 15px;
						}

						.ik-info {
							background-color: var(--c2);
							border-bottom: 1px solid var(--c5);
							bottom: 0;
							color: var(--c1);
							height: 200px;
							left: 0;
							overflow-y: auto;
							padding: 10px;
							position: absolute;
							right: 0;
							top: 0;

							h6 {
								font-weight: cd-fontWeight(700);
							}

							p {
								color: var(--c7);
								margin: -2px 0 5px;
							}
						}
					}

					.ik-detail {
						background-color: var(--c2);
						border-bottom: 1px solid var(--c5);
						padding: 5px 10px;

						.ik-actions {
							display: flex;
							justify-content: space-between;

							.ik-left {
								.ik-icon {
									&.ik-download {
										cursor: pointer;
									}
								}
							}

							.ik-right {
								.ik-icon {
									cursor: pointer;

									&:not(:only-child):not(:last-child) {
										margin-right: 15px;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	// media
	@include cd-media(desktop, smartphone) {
		.ik-content {
			margin-top: 20px;

			.cd-container {
				.cd-row {
					&.ik-search-filter {
						.cd-col {
							&:first-child {
								margin-bottom: 0;

								.ik-search {
									margin: 0 auto;
								}
							}

							&:last-child {
								text-align: center;
							}
						}
					}

					.cd-col {
						margin-bottom: 20px;

						&:nth-child(2n + 1) {
							padding-right: 10px;
						}

						&:nth-child(2n) {
							padding-left: 10px;
						}
					}
				}
			}
		}
	}

	@include cd-media(desktop, mini) {
		.ik-content {
			margin-top: 15px;

			.cd-container {
				.cd-row {
					.cd-col {
						margin-bottom: 15px;

						&:nth-child(2n + 1) {
							padding-right: 15px;
						}

						&:nth-child(2n) {
							padding-left: 15px;
						}
					}
				}
			}
		}
	}
}
