@import 'main';

.ik-projects {
	.ik-content {
		margin-top: 30px;

		.cd-container {
			.cd-row {
				&.ik-search-filter {
					margin: 0 15px;

					.cd-col {
						background-color: cd-palette($cd-background, 2001);
						border-bottom: 1px solid cd-palette($cd-border, 3003);
						padding: 5px 10px;
					}
				}

				.cd-col {
					margin-bottom: 30px;

					&.ik-excerpt {
						text-align: center;

						h2 {
							.ik-icon {
								color: cd-palette($cd-color, 1008);
								font-size: cd-fontSize(s24);
								margin-left: 5px;
							}
						}
					}

					.ik-banner {
						position: relative;

						&.ik-color {
							background-color: cd-palette($cd-background, 2010);
							height: 200px;

							&.ik-scss {
								background-color: cd-palette($cd-background, 2018);
							}

							&.ik-js {
								background-color: cd-palette($cd-background, 2019);
							}

							&.ik-php {
								background-color: cd-palette($cd-background, 2017);
							}
						}

						img {
							background-color: cd-palette($cd-background, 2001);
							display: block;
							max-height: 200px;
							object-fit: cover;
							width: 100%;
						}

						.ik-title {
							align-items: center;
							bottom: 0;
							color: cd-palette($cd-color, 1001);
							display: flex;
							font-weight: cd-fontWeight(600);
							justify-content: center;
							left: 0;
							position: absolute;
							right: 0;
							top: 0;
						}

						.ik-badge {
							background-color: cd-palette($cd-background, 2001);
							color: cd-palette($cd-color, 1000);
							left: 0;
							padding: 0 5px;
							position: absolute;
							top: 15px;
						}

						.ik-info {
							background-color: cd-palette($cd-background, 2001);
							border-bottom: 1px solid cd-palette($cd-border, 3002);
							bottom: 0;
							color: cd-palette($cd-color, 1000);
							height: 200px;
							left: 0;
							overflow-y: auto;
							padding: 10px;
							position: absolute;
							right: 0;
							top: 0;

							h6 {
								font-weight: cd-fontWeight(700);
							}

							p {
								color: cd-palette($cd-color, 1007);
								margin: -2px 0 5px;
							}
						}
					}

					.ik-detail {
						background-color: cd-palette($cd-background, 2001);
						border-bottom: 1px solid cd-palette($cd-border, 3003);
						padding: 5px 10px;

						.ik-actions {
							display: flex;
							justify-content: space-between;

							.ik-left {
								.ik-icon {
									&.ik-download {
										cursor: pointer;
									}
								}
							}

							.ik-right {
								.ik-icon {
									cursor: pointer;

									&:not(:only-child):not(:last-child) {
										margin-right: 15px;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	// media
	@include cd-media(desktop, smartphone) {
		.ik-content {
			margin-top: 20px;

			.cd-container {
				.cd-row {
					.cd-col {
						margin-bottom: 20px;

						&:nth-child(2n + 1) {
							padding-right: 10px;
						}

						&:nth-child(2n) {
							padding-left: 10px;
						}
					}
				}
			}
		}
	}

	@include cd-media(desktop, mini) {
		.ik-content {
			margin-top: 15px;

			.cd-container {
				.cd-row {
					.cd-col {
						margin-bottom: 15px;

						&:nth-child(2n + 1) {
							padding-right: 15px;
						}

						&:nth-child(2n) {
							padding-left: 15px;
						}
					}
				}
			}
		}
	}
}
