@import 'scss-methods';

.ik-notice-block {
	background-color: var(--bg2);
	padding: 10px;

	.cd-row {
		.cd-col {
			padding: 0;
			text-align: center;

			.ik-icon {
				color: var(--c9);
				margin-right: 5px;
			}

			span {
				color: var(--c7);
				font-weight: cd-fontWeight(600);
			}
		}
	}
}
