@import 'scss-methods';

.ik-notice-block {
	background-color: var(--bg3);
	padding: 10px;

	.cd-row {
		.cd-col {
			padding: 0;
			text-align: center;

			span {
				color: var(--tc2);
				font-weight: cd-fontWeight(500);

				&.ik-label {
					color: var(--c7);
					font-size: cd-fontSize(s12);
					font-weight: cd-fontWeight(700);
				}
			}
		}
	}
}
