@import 'main';

.ik-notice-block {
	background-color: var(--bg3);
	padding: 10px;

	.cd-row {
		.cd-col {
			padding: 0;
			text-align: center;

			.ik-icon {
				color: var(--c11);
				margin-right: 5px;
			}

			span {
				color: var(--c9);
				font-weight: cd-fontWeight(600);
			}
		}
	}
}
