@import 'scss-methods';

.ik-info-card {
	background-color: var(--bg1);

	.ik-photo {
		background-color: var(--c5);
		padding: 10px 0;

		img {
			display: block;
			height: 35px;
			margin: auto;
			width: 35px;
		}
	}

	.ik-detail {
		overflow-y: auto;
		padding: 15px;

		&:not(.ik-auto-height) {
			height: 300px;
		}

		h6 {
			color: var(--tc2);
			font-size: cd-fontSize(s15);
			font-weight: cd-fontWeight(700);
			margin: 5px 0 0;
			text-transform: uppercase;
		}

		ul {
			margin-left: 20px;

			&.ik-list-one {
				margin-bottom: 10px;
			}

			li {
				color: var(--tc2);

				p {
					color: var(--tc2);
					font-size: cd-fontSize(s14);
				}
			}
		}
	}

	// media
	@include cd-media(desktop, smartphone) {
		&:not(:first-child) {
			margin-top: 30px;
		}
	}
}
