@import 'scss-methods';

.ik-image-card {
	.ik-photo {
		position: relative;

		img {
			transition: transform 250ms ease-in-out;
		}

		.ik-text {
			position: absolute;

			&.ik-title {
				bottom: 10px;
				right: 10px;
			}
		}
	}
}
