@import 'main';

.ik-profile {
	header {
		background-color: var(--bg2);

		.cd-container {
			position: relative;

			.cd-row {
				padding: 25px 0;

				.cd-col {
					.ik-profile-logo {
						bottom: -50px;
						position: absolute;
						right: 30px;
						z-index: cd-zIndex(float);

						img {
							border-radius: 50%;
							box-shadow: 0 4px 8px 0 var(--o1);
							display: block;
							width: 100px;
						}
					}

					h1 {
						color: var(--tc1);
					}

					h5 {
						color: var(--tc1);
						font-weight: cd-fontWeight(300);
						margin-top: -5px;
					}
				}
			}
		}
	}

	.ik-content {
		position: relative;

		.ik-summary {
			background-color: var(--bg3);

			.cd-container {
				.cd-row {
					padding: 30px 0;

					.cd-col {
						h2 {
							color: var(--tc2);
						}

						p {
							color: var(--tc2);
							margin-top: 12px;
						}

						.ik-tags {
							h6 {
								color: var(--tc2);
								margin: 20px 0 10px;
							}

							span {
								@extend .ik-common-tag;
								background-color: var(--bg2);
								color: var(--c5);
							}
						}
					}
				}
			}
		}

		.ik-detail {
			background-color: var(--bg2);
			padding: 30px 0;

			.cd-container {
				.cd-row {
					.cd-col {
						&.ik-quick-wrapper {
							.ik-skills {
								h2 {
									color: var(--tc2);
								}

								.ik-logo {
									margin-top: 15px;

									span {
										margin-bottom: 15px;
										margin-right: 3px;

										img {
											border: 1px solid var(--tc3);
											height: 50px;
											padding: 2px;
										}
									}
								}

								.ik-tags {
									h6 {
										color: var(--tc2);
										font-weight: cd-fontWeight(600);
										margin: 5px 0;
									}

									span {
										@extend .ik-common-tag;
										@extend .ik-common-tag-color;
									}
								}
							}
						}

						&.ik-background-wrapper {
							.ik-education {
								h2 {
									color: var(--tc2);
								}

								h6 {
									color: var(--tc2);
								}

								.ik-list-wrapper {
									ul {
										@extend .ik-common-ul;

										li {
											align-items: center;
											display: flex;

											.ik-left {
												float: left;

												img {
													border: 1px solid var(--tc3);
													padding: 2px;
													width: 46px;
												}
											}

											.ik-right {
												margin-left: 20px;

												h5 {
													color: var(--tc2);
												}

												p {
													color: var(--tc2);
													font-weight: cd-fontWeight(300);
												}
											}

											&:last-child {
												margin-top: 30px;
											}
										}
									}
								}
							}

							.ik-experience {
								h2 {
									color: var(--tc2);
								}

								h6 {
									color: var(--tc2);
								}

								.ik-list-wrapper {
									position: relative;

									ul {
										@extend .ik-common-ul;

										&::before {
											border-left: 1px solid var(--tc3);
											bottom: 10%;
											content: '';
											left: 22px;
											position: absolute;
											top: 10%;
										}

										li {
											align-items: center;
											display: flex;

											.ik-left {
												float: left;

												.ik-number {
													background-color: var(--c2);
													border-radius: 50%;
													box-shadow: 0 0 5px 0 var(--o1);
													color: var(--c10);
													height: 46px;
													padding-top: 13px;
													text-align: center;
													width: 46px;

													&.ik-current {
														background-color: var(--c10);
														color: var(--c2);
													}

													&.ik-year {
														font-size: cd-fontSize(s13);
													}
												}
											}

											.ik-right {
												margin-left: 20px;

												h5 {
													color: var(--tc2);
												}

												p {
													color: var(--tc2);
													font-weight: cd-fontWeight(300);

													.ik-on {
														background-color: var(--c7);
														border-radius: 3px;
														color: var(--c2);
														font-size: cd-fontSize(s12);
														padding: 2px 4px;
														vertical-align: text-bottom;
													}
												}
											}

											&:not(:first-child) {
												margin-top: 30px;
											}
										}
									}
								}
							}

							.ik-languages {
								h2 {
									color: var(--tc2);
								}

								h6 {
									color: var(--tc2);
								}

								.ik-tags {
									margin: 30px 0 0;

									span {
										@extend .ik-common-tag;
										@extend .ik-common-tag-color;
									}
								}
							}

							.ik-interest {
								h2 {
									color: var(--tc2);
								}

								.ik-tags {
									margin: 30px 0 0;

									span {
										@extend .ik-common-tag;
										@extend .ik-common-tag-color;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	// Common
	.ik-common-tag {
		border-radius: 1px;
		display: inline-block;
		font-weight: cd-fontWeight(300);
		line-height: cd-lineHeight(2);
		margin: 0 3px 3px 0;
		padding: 0 5px;
	}

	.ik-common-tag-color {
		background-color: var(--bg3);
		color: var(--c5);
	}

	.ik-common-ul {
		margin: 30px 0 0;
	}

	// media
	@include cd-media(desktop, smartphone) {
		header {
			.cd-container {
				> .cd-row {
					.cd-col {
						.ik-profile-logo {
							margin-bottom: 10px;
							position: static;

							img {
								box-shadow: none;
								margin: auto;
								width: 140px;
							}
						}
					}
				}
			}
		}

		.ik-content {
			.ik-detail {
				.cd-container {
					.cd-row {
						.cd-col {
							&.ik-background-wrapper {
								.ik-education {
									margin-top: 30px;
								}
							}
						}
					}
				}
			}
		}
	}

	@include cd-media(desktop, mini) {
		.ik-content {
			.ik-detail {
				.cd-container {
					> .cd-row {
						.cd-col {
							&.ik-background-wrapper {
								.ik-education {
									.ik-list-wrapper {
										ul {
											li {
												display: block;

												.ik-left {
													float: none;
												}

												.ik-right {
													margin: 10px 0 0;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
