@import 'main';

.ik-home {
	header {
		background-position-y: bottom;
		background-repeat: repeat;
		background-size: cover;
		padding: 150px 0 200px;
		position: relative;

		.ik-badges {
			left: 0;
			position: absolute;
			right: 0;
			text-align: center;
			top: 5px;

			span {
				background-color: var(--bg1);
				border-bottom: 1px solid var(--tc3);
				border-radius: 2px;
				color: var(--c9);
				margin-right: 5px;
				padding: 2px 6px;
				text-align: center;
			}
		}

		.ik-content {
			h1 {
				color: var(--c9);
				font-weight: cd-fontWeight(600);
				margin-top: -5px;

				.ik-icon {
					color: var(--c9);
					font-size: cd-fontSize(s18);
					margin-left: 5px;

					&.ik-red {
						color: var(--c13);
					}
				}
			}

			h4 {
				color: var(--tc2);
				font-weight: cd-fontWeight(600);
			}
		}
	}

	// media
	@include cd-media(desktop, smartphone) {
		header {
			padding: 100px 0 150px;
		}
	}
}
