@import 'scss-methods';

.ik-home {
	background-color: var(--bg4);

	.cd-row {
		.cd-col {
			.ik-block {
				&:first-child {
					margin-top: 30px;
				}

				&:not(:first-child) {
					margin: 30px 0;
				}

				.ik-title {
					color: var(--c4);
					font-size: cd-fontSize(s16);
					font-weight: cd-fontWeight(700);
					margin-bottom: 10px;
					text-transform: uppercase;
				}

				.ik-items {
					&.ik-social {
						align-items: center;
						display: flex;
						justify-content: center;

						.ik-item {
							align-items: center;
							background-color: var(--bg3);
							border-radius: 5px;
							cursor: pointer;
							display: flex;
							height: 100px;
							justify-content: center;
							width: 100%;

							&:not(:last-child) {
								margin-right: 10px;
							}

							&.ik-github {
								background-color: var(--c12);
							}

							&.ik-linkedin {
								background-color: var(--c13);
							}

							&.ik-instagram {
								background: linear-gradient(45deg, var(--c14) 0%, var(--c15) 25%, var(--c16) 50%, var(--c17) 75%, var(--c18) 100%);
							}

							img {
								display: block;
								width: 30px;
							}
						}
					}

					&.ik-projects {
						ul {
							list-style: none;

							li {
								align-items: center;
								display: flex;
								justify-content: space-between;

								&:not(:last-child) {
									border-bottom: 1px solid var(--tc3);
									margin-bottom: 5px;
									padding-bottom: 5px;
								}

								a {
									cursor: pointer;

									.ik-icon {
										display: inline-block;
										width: 16px;
									}
								}

								h6 {
									color: var(--c4);
									font-size: cd-fontSize(s15);

									.ik-icon {
										display: inline-block;
										width: 16px;
									}
								}

								p {
									border-radius: 2px;
									color: var(--c1);
									cursor: pointer;
									font-size: cd-fontSize(s14);
									outline: none;
									padding: 0 5px;

									&.ik-scss {
										background-color: var(--c11);
									}

									&.ik-js {
										background-color: var(--c5);
									}

									&.ik-php {
										background-color: var(--c10);
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
