@import 'main';

.ik-home {
	header {
		background-attachment: fixed;
		// background-color: cd-palette($cd-background, 2003, .3);
		background-repeat: repeat;
		background-size: 14rem;
		padding: 150px 0 200px;
		position: relative;

		.ik-badges {
			left: 0;
			position: absolute;
			right: 0;
			text-align: center;
			top: 5px;

			span {
				background-color: cd-palette($cd-background, 2001);
				border-radius: 2px;
				box-shadow: 1px 1px 1px cd-palette($cd-shadow, 4004);
				color: cd-palette($cd-color, 1010);
				margin-right: 5px;
				padding: 2px 6px;
				text-align: center;
			}
		}

		.ik-content {
			h1 {
				color: cd-palette($cd-color, 1010);
				font-weight: cd-fontWeight(600);
				margin-top: -5px;

				.ik-icon {
					color: cd-palette($cd-color, 1010);
					font-size: cd-fontSize(s18);
					margin-left: 5px;

					&.ik-red {
						color: cd-palette($cd-color, 1012);
					}
				}
			}

			h4 {
				color: cd-palette($cd-color, 1009);
				font-weight: cd-fontWeight(600);
			}
		}

		&::after {
			background: linear-gradient(180deg, transparent, transparent 70%, cd-palette($cd-background, 2002, .5));
			bottom: 0;
			// content: '';
			position: absolute;
			top: 0;
			width: 100%;
		}
	}

	// media
	@include cd-media(desktop, smartphone) {
		header {
			padding: 100px 0 150px;
		}
	}
}
