@import 'scss-methods';

.ik-home {
	background-color: var(--bg4);
	padding: 30px 0;

	.cd-row {
		.cd-col {
			.ik-block {
				&:not(:first-child) {
					margin-top: 30px;
				}

				.ik-title {
					color: var(--tc2);
					font-weight: cd-fontWeight(700);
					margin-bottom: 15px;
					text-transform: uppercase;
				}

				&.ik-profile-summary {
					.ik-profile {
						position: relative;

						.ik-cover {
							background-color: var(--c5);
							border-bottom: 1px solid var(--tc3);
							position: relative;

							.ik-content {
								border: 1px solid var(--c1);
								height: 80px;
								left: 0;
								margin: -40px auto 0;
								position: absolute;
								right: 0;
								top: 50%;
								width: 80px;

								h3 {
									bottom: 0;
									font-size: cd-fontSize(se3);
									font-weight: cd-fontWeight(700);
									line-height: cd-lineHeight(1);
									position: absolute;
									right: 6px;
								}
							}
						}

						.ik-photo {
							bottom: 0;
							left: 25px;
							margin-bottom: -50px;
							position: absolute;

							img {
								border-radius: 50%;
								box-shadow: 0 4px 8px 0 var(--o1);
								display: block;
								height: 100px;
								width: 100px;
							}
						}
					}

					.ik-detail {
						margin-top: 40px;
						padding: 25px;

						h6 {
							color: var(--tc2);
							display: inline-block;

							span {
								font-weight: cd-fontWeight(500);

								&:first-child {
									color: var(--c7);
								}
							}
						}

						h4 {
							color: var(--tc2);
							font-weight: cd-fontWeight(500);
							line-height: cd-lineHeight(1.2);
							margin: 5px 0;
						}

						p {
							color: var(--tc2);
						}
					}
				}

				&.ik-profile-skills {
					.cd-row {
						margin-left: -15px;
						margin-right: -15px;

						.cd-col {
							&:nth-child(n + 4) {
								margin-top: 30px;
							}
						}
					}
				}

				&.ik-social {
					align-items: center;
					display: flex;
					justify-content: center;

					.ik-item {
						align-items: center;
						background-color: var(--bg2);
						border-radius: 50%;
						cursor: pointer;
						display: flex;
						height: 40px;
						justify-content: center;
						width: 40px;

						&:not(:last-child) {
							margin-right: 10px;
						}

						.ik-icon {
							font-size: cd-fontSize(s18);
							margin-top: 2px;
						}

						img {
							display: block;
							height: 34px;
							width: 34px;
						}

						&.ik-github {
							background-color: var(--c1);
							border: 3px solid var(--c1);
						}

						&.ik-linkedin {
							border: 3px solid var(--c12);
							color: var(--c12);

							.ik-icon {
								margin-left: 2px;
							}
						}

						&.ik-email {
							border: 3px solid var(--c7);
							color: var(--c7);
						}
					}
				}
			}
		}
	}

	// media
	@include cd-media(desktop, desktop) {
		.cd-row {
			.cd-col {
				.ik-block {
					&.ik-profile-skills {
						.cd-col {
							&:nth-child(n + 3) {
								margin-top: 30px;
							}
						}
					}
				}
			}
		}
	}

	@include cd-media(desktop, smartphone) {
		.cd-row {
			&.ik-row-reverse {
				flex-direction: column-reverse;

				.cd-col {
					&.ik-m-bottom-space {
						margin-bottom: 30px;
					}

					.ik-block {
						&.ik-profile-skills {
							.cd-col {
								&:nth-child(n + 2) {
									margin-top: 30px;
								}
							}
						}
					}
				}
			}
		}
	}
}
