@import 'main';

footer {
	background-color: cd-palette($cd-background, 2001);
	border-top: 1px solid cd-palette($cd-border, 3004);
	box-shadow: 0 -2px 3px -2px cd-palette($cd-shadow, 4004);

	.cd-container {
		.cd-row {
			padding: 10px 0;

			.cd-col {
				h5 {
					color: cd-palette($cd-color, 1000);
					font-weight: cd-fontWeight(300);

					.ik-icon {
						color: cd-palette($cd-color, 1010);
						font-size: cd-fontSize(s15);
					}

					.ik-version {
						color: cd-palette($cd-color, 1006);
						font-size: cd-fontSize(s12);
						vertical-align: middle;
					}
				}
			}
		}
	}
}
