name: Set Version
on:
  push:
    branches:
      - master
jobs:
  test:
    runs-on: ubuntu-18.04
    steps:
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
      - name: echo var
        run: |
          echo version name is: ${{ github.event.release.tag_name }}
          echo release title is: ${{ github.event.release.name }}
          echo release body is: ${{ github.event.release.body }}
          echo repository is: ${{ github.repository }}
