@import 'scss-methods';

.ik-push-notification {
	bottom: 20px;
	left: 20px;
	position: fixed;
	width: 330px;
	z-index: cd-zIndex(float);

	.ik-message {
		background-color: var(--tc1);
		box-shadow: 1px 1px 1px var(--o1);
		padding: 10px;
		transition: transform .4s ease-out 0s;

		&:not(:last-child) {
			margin-bottom: 20px;
		}

		&.ik-animate {
			transform: translateX(-352px);
		}

		.ik-head {
			align-items: center;
			border-bottom: 1px solid var(--tc4);
			display: flex;
			margin-bottom: 10px;
			padding-bottom: 10px;

			.ik-icon {
				display: flex;
				font-size: 1.5rem;
				margin-right: 10px;
			}

			h5 {
				color: var(--tc6);
			}
		}

		.ik-content {
			p {
				color: var(--tc6);
			}
		}

		.ik-buttons {
			align-items: center;
			border-top: 1px solid var(--tc4);
			display: flex;
			margin-top: 10px;
			padding-top: 10px;

			button {
				&:not(:first-child) {
					margin-left: 5px;
				}

				&.ik-close {
					background-color: var(--c7);
				}

				&.ik-dismiss {
					background-color: var(--c5);
					color: var(--c1);
					cursor: default;
				}
			}
		}
	}

	// media
	@include cd-media(desktop, mini) {
		right: 20px;
		width: auto;
	}
}
